# Virtual Environment
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# MyPy
.mypy_cache/

# Logs
*.log
logs/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
desktop.ini